h1 New event
form.form-horizontal(name='eventForm')
  .form-group
    label.col-sm-2.control-label(for='title') Title
    .col-sm-10
      input.form-control(ng-model='controller.event.Title' id='title' type='text' required='required')
  .form-group
    label.col-sm-2.control-label Category
    .col-sm-10
      select.form-control.short-input(name='CategoryId' ng-model='controller.event.CategoryId'
      ng-options='item.Id as item.Name for item in controller.categoryOptions track by item.Id' required='required')
        option(value='') -- Choose Category --
  .form-group
    label.col-sm-2.control-label Starts at
    .col-sm-10.form-inline
      input.form-control.very-short-input(type='text' uib-datepicker-popup='yyyy-MM-dd' ng-click="isopened = true" datepicker-append-to-body='true'
      ng-model='controller.date' is-open='isopened' datepicker-options='dateOptions' ng-required='true' close-text='Close' required='required')
      input.form-control.very-short-input(ng-model='controller.time' type='time' required='required')
  .form-group
    label.col-sm-2.control-label Duration
    .col-sm-10.form-inline
      input.form-control.very-short-input(type='number' ng-model='controller.event.Duration' min='1' max='1000000' required='required')
      select.form-control.very-short-input(ng-model='controller.event.DurationUnit' required='required')
        option(value='Seconds') Seconds
        option(value='Minutes') Minutes
        option(value='Hours') Hours
  .form-group
    label.col-sm-2.control-label Location
    .col-sm-10
      input.form-control.short-input(type='text' ng-model='controller.event.LocationName' name='locationName' placeholder='The name of the place' required='required')
      .form-inline
        select.form-control.short-input(ng-model='controller.event.Country' name='country' ng-options='item as item for item in controller.countries' required='required')
          option(value='') -- Choose Country --
        input.form-control.short-input(type='text' ng-model='controller.event.City' name='city' placeholder='City' required='required')
        input.form-control(type='text' ng-model='controller.event.Address' name='address' placeholder='Address' required='required')
        a.btn.btn-xs.btn-info(href='https://maps.google.com?q={{ controller.event.Country | urlencode }}+{{ controller.event.City | urlencode }}+{{ controller.event.Address | urlencode}}'
        target='_blank' ng-disabled='eventForm.country.$invalid || eventForm.city.$invalid || eventForm.address.$invalid') Check location!
  .form-group
    label.col-sm-2.control-label(for='description') Description
    .col-sm-10
      textarea.form-control(ng-model='controller.event.Description' id='description' type='text' required='required' maxlength="1024")

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(ng-click='controller.save()' ng-disabled='eventForm.$invalid') Create!
