.row
  .col-xs-6
    h2 Events
  .col-xs-6
    h2
      a.btn.btn-success.pull-right(href='#/events/new')
        span.glyphicon.glyphicon-plus(aria-hidden='true')
        span  Create new event

hr

.tabbable
  ul.nav.nav-pills.nav-stacked.col-md-2
    li.active
      a(href='#a', data-toggle='tab') Search
    li
      a(href='#b', data-toggle='tab') My events
    li
      a(href='#c', data-toggle='tab') Nearby events
  .tab-content.col-md-10
    #a.tab-pane.active
      .form-inline
        input.form-control.short-input(ng-model='controller.search' ng-model-options='{ debounce: 500 }' placeholder='Search...')
        select.form-control.short-input(name='CategoryId' ng-model='controller.CategoryId'
        ng-options='item.Id as item.Name for item in controller.categoryOptions track by item.Id')
          option(value='') -- Choose Category --
      event-list(search='controller.search', category-id='controller.CategoryId')
    #b.tab-pane
      event-list(user-id='controller.userId')
    #c.tab-pane
      .row(ng-if='!controller.locationQueryEnded')
        span.spinner
          i.icon-spin.icon-refresh
        h4 Loading...
      .row(ng-if='controller.locationQueryEnded && controller.position').form-inline
        .row.margin-medium
          label.control-label.inline-block(for='max_distance')= 'Maximum distance: '
          input.form-control.very-short-input.inline-block(ng-model='controller.maxDistance' ng-change='controller.reloadNearbyEvents()'
          ng-model-options='{ debounce: 500 }' id='max_distance' type='number' min='1' max='100' required='required')
          span  Km
        .big-map
          google-maps(center='controller.currentCoordinates' markers='controller.markers')
      .row(ng-if='controller.locationQueryEnded && !controller.position')
        h4 {{ controller.locationQueryErrorMessage }}
