.container
  .row
    table.table
      thead
        tr
          th Title
          th Category
          th Starts at
          th Organizer
      tbody
        tr(ng-repeat="event in controller.events")
          td
            a(href='#/events/{{ event.Id }}') {{ event.Title }}
          td
            event-category(category-id='event.CategoryId')
          td {{ event.StartTime | date : "yyyy-MM-dd HH:mm:ss" }}
          td
            user(user-id='event.OwnerUserId')
        tr(ng-show='controller.events && controller.eventCount == 0')
          td(colspan='4')
            .text-center
              h4 No events found. :(

  .row(ng-show='controller.events && controller.eventCount > controller.itemsPerPage')
    .pull-right
      uib-pagination.pagination-sm(boundary-links='true', total-items='controller.eventCount' items-per-page='controller.itemsPerPage', ng-model='controller.currentPage', previous-text='‹', next-text='›', first-text='«', last-text='»')

