﻿@using Microsoft.AspNet.Identity
@using Newtonsoft.Json

@{
    ViewBag.Title = "Index";
}

<div ng-view>
</div>

@section scripts {

    <script>
        wwww = @Html.Raw(JsonConvert.SerializeObject(new Dictionary<string, object>() {{"parameters", new Dictionary<string, object>() {{"userId", User.Identity.GetUserId()}}}}));
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKpwgynV3KciXAU6vL0j-5qi_xU3KSnhs" async defer></script>

    @Scripts.Render("~/bundles/wwww")
}
