h1 {{ controller.event.Title }}

.row
  .col-sm-6
    form.form-horizontal(name='eventForm')
      .form-group
        label.col-sm-2.control-label Category
        .col-sm-10
          span
            event-category(category-id='controller.event.CategoryId')
      .form-group
        label.col-sm-2.control-label Starts at
        .col-sm-10
          span {{ controller.event.StartTime | date : "yyyy-MM-dd HH:mm:ss" }}
      .form-group
        label.col-sm-2.control-label Duration
        .col-sm-10
          span {{ controller.event.Duration }} {{ controller.event.DurationUnit | lowercase }}
      .form-group
        label.col-sm-2.control-label Location
        .col-sm-10
          span {{ controller.event.LocationName }}
          br
          span {{ controller.event.City }}, {{ controller.event.Country }}
          br
          span {{ controller.event.Address }}
      .form-group
        label.col-sm-2.control-label Description
        .col-sm-10
          span {{ controller.event.Description }}
  .col-sm-6
    div(ng-if="controller.userId != controller.event.OwnerUserId")
      h4 Signing up
      button.btn.btn-success.horizontal-margin-medium(ng-click="controller.signUp()" ng-show="controller.isSignedUp === false") Sign up now!
      .row.margin-medium(ng-show="controller.isSignedUp === true")
        .col-sm-8
          span You are signed up for this event!
        .col-sm-4
          button.btn.btn-xs.btn-default(ng-click='controller.cancelAttendance()') I've changed my mind.
    h4 Location
    .small-map.margin-medium
      google-maps(center='controller.eventCoordinates' markers='controller.mapMarkers' zoom='15')

    h4 Organizer:
    .horizontal-margin-medium
      strong
        user(user-id='controller.event.OwnerUserId' picture='true')
    h4 Participants:
    .row.margin-medium(ng-show='controller.participants.length == 0')
      span No one signed up yet.
    .row(ng-repeat='participant in controller.participants')
      .col-lg-12.horizontal-margin-medium
        user(user-id='participant.UserId' picture='true')
        button.btn.btn-xs.btn-danger.horizontal-margin-medium(ng-click='controller.cancelAttendance(participant.UserId)' ng-if="controller.userId == controller.event.OwnerUserId") Kick

event-comments(event-id='controller.event.Id' user-id='controller.userId' can-delete="controller.userId == controller.event.OwnerUserId")
