h3 Recommended Events

.container(ng-if='controller.events')
    .row
        div(ng-repeat='event in controller.events')
            .clearfix(ng-if='$index % 2 == 0')
            .col-md-6
                .recommendation-box.margin-small.container
                    .row
                        .col-sm-6
                            h4
                                a(href='#/events/{{ event.Id }}') {{ event.Title }}

                            strong= 'Category: '
                            event-category(category-id='event.CategoryId')
                            br

                            strong= 'Starts at: '
                            span {{ event.StartTime | date : "yyyy-MM-dd HH:mm:ss" }}
                            br

                            strong= 'Location: '
                            span {{ event.LocationName }}
                            br
                            span {{ event.City }}, {{ event.Country }}
                            br
                            span {{ event.Address }}
                        .col-sm-6
                            .small-map
                                google-maps(center='event.mapCoordinates' markers='event.mapMarkers' zoom='15')


img(ng-if='!controller.events' src='/Content/Images/spinner.gif')
