h3 Comments

.container
  .form-group
    .col-sm-2
      .pull-right
        user(user-id='controller.userId' picture='true')
    .col-sm-8
      textarea.form-control(ng-model='controller.newCommentMessage' id='newCommentMessage' required='required' maxlength="2048")
    .col-sm-2
      .pull-left
        button.btn.btn-default.horizontal-margin-medium(ng-click='controller.submitComment()') Send

hr

.container(ng-init='controller.init()')
  .row.margin-medium.text-center(ng-show='controller.comments.length == 0')
    span No comments yet.
  .row(ng-repeat='comment in controller.comments')
    .col-sm-2
      .row
        .pull-right
          user(user-id='comment.UserId' picture='true')
      .row
        .pull-right
          span {{ comment.Created | date : "yyyy-MM-dd HH:mm:ss" }}
    .col-sm-8
      .margin-medium
        span {{ comment.Message }}
    .col-sm-2(ng-if="controller.canDelete")
      .margin-medium.pull-left
        button.btn.btn-xs.btn-danger.horizontal-margin-medium(ng-click='controller.deleteComment(comment.Id)') Delete
