﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
/*select,*/
/*textarea {*/
    /*max-width: 280px;*/
/*}*/

.short-input {
    max-width: 280px;
}

.very-short-input {
    max-width: 140px;
}

.margin-small {
    margin: 5px;
}

.margin-medium {
    margin: 10px;
}

.horizontal-margin-medium {
    margin-left: 10px;
    margin-right: 10px;
}

.map-container {
    height: 100%;
    width: 100%;
}

.small-map {
    height: 150px;
}

.big-map {
    height: 400px;
}

.inline-block {
    display: inline-block;
}

.recommendation-box {
    outline: 2px solid #333333;
    padding-left: 10px;
}
